<div>
<button type="button" class="btn btn-default" ng-click="goBack()">Home</button>
<h3>Bandwidth Allocation Resources</h3>
<p>There seems to be a split mind in regards to bandwidth allocation
  for tor relays. Some say it is best to ration your bandwidth
  throughout the month and others say it is best to use up your
  bandwidth as fast as you can and hibernate until your data usage is
  reset.</p>
<p>The following are some links collected from the tor mailing list
  and the tor wiki that are in favor of hibernation.</p>
<ul>
  <li><a href="https://lists.torproject.org/pipermail/tor-dev/2014-September/007559.html">https://lists.torproject.org/pipermail/tor-dev/2014-September/007559.html</a></li>
  <li><a href="https://lists.torproject.org/pipermail/tor-dev/2014-September/007560.html">https://lists.torproject.org/pipermail/tor-dev/2014-September/007560.html</a></li>
  <li><a href="https://lists.torproject.org/pipermail/tor-relays/2014-November/005850.html">https://lists.torproject.org/pipermail/tor-relays/2014-November/005850.html</a></li>
  <li><a href="https://lists.torproject.org/pipermail/tor-relays/2011-September/000951.html">https://lists.torproject.org/pipermail/tor-relays/2011-September/000951.html</a></li>
  <li><a href="https://www.torproject.org/docs/faq.html.en#LimitTotalBandwidth">https://www.torproject.org/docs/faq.html.en#LimitTotalBandwidth</a></li>
  <li><a href="https://www.torproject.org/docs/faq.html.en#BandwidthShaping">https://www.torproject.org/docs/faq.html.en#BandwidthShaping</a></li>
</ul>
</div>
